@{
    ViewBag.Title = "Home Page";
}
<div>
    <h1>@ViewBag.Title</h1>
</div>
    <div style="text-align:center">
        <p>
            You type https://localhost:44346/Custom/Custom/3/custom/page1 int the browswer and it will bring up
            the custom page because of custom routing.
        </p>
        <p></p>
    </div>