@{
    ViewBag.Title = "Home Page";
}
<div>
    <h1>@ViewBag.Title</h1>
</div>
    <div style="text-align:center">  <!--links that use custom and default routing-->
        <a href="https://localhost:44346/Default/Default">Default Page</a>
        <a href ="https://localhost:44346/Custom/Custom/3/custom/page1" >Custom page</a>
        <a href ="https://localhost:44346/AttributePage/CustomAttribute/CustomAttribute/4">Custom Attribute Page</a>
    </div>